Repository ryanbas21/aic-typescript-mcp-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:fix --quiet {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: claude-review
  .github/workflows/claude.yml
Due: format

fix(ci): update Claude Code action permissions and authentication
  .github/workflows/claude.yml
Due: format

fix(ci): add checkout step to Claude Code workflow
  .github/workflows/claude.yml
Due: format

fix(ci): use CLAUDE_ACCESS_TOKEN secret
  .github/workflows/claude.yml
Due: format

feat(aic-mcp-sdk): add JWT token validation with OIDC discovery
  packages/aic-mcp-sdk/package.json
  packages/aic-mcp-sdk/src/cache/index.ts
  packages/aic-mcp-sdk/src/cache/memory-cache.test.ts
  packages/aic-mcp-sdk/src/cache/memory-cache.ts
  packages/aic-mcp-sdk/src/cache/types.ts
  packages/aic-mcp-sdk/src/http/fetch-client.ts
  packages/aic-mcp-sdk/src/http/index.ts
  packages/aic-mcp-sdk/src/http/types.ts
  packages/aic-mcp-sdk/src/index.ts
  packages/aic-mcp-sdk/src/mcp/auth-verifier.ts
  packages/aic-mcp-sdk/src/mcp/index.ts
  packages/aic-mcp-sdk/src/mcp/types.test.ts
  packages/aic-mcp-sdk/src/mcp/types.ts
  packages/aic-mcp-sdk/src/mcp/with-auth.test.ts
  packages/aic-mcp-sdk/src/mcp/with-auth.ts
  packages/aic-mcp-sdk/src/test/fixtures.ts
  packages/aic-mcp-sdk/src/test/mocks.ts
  packages/aic-mcp-sdk/src/types.ts
  packages/aic-mcp-sdk/src/validation/discovery.test.ts
  packages/aic-mcp-sdk/src/validation/discovery.ts
  packages/aic-mcp-sdk/src/validation/errors.test.ts
  packages/aic-mcp-sdk/src/validation/errors.ts
  packages/aic-mcp-sdk/src/validation/index.ts
  packages/aic-mcp-sdk/src/validation/jwt-validation.test.ts
  packages/aic-mcp-sdk/src/validation/jwt-validation.ts
  packages/aic-mcp-sdk/src/validation/scopes.test.ts
  packages/aic-mcp-sdk/src/validation/scopes.ts
  packages/aic-mcp-sdk/src/validation/token-validator.test.ts
  packages/aic-mcp-sdk/src/validation/token-validator.ts
  packages/aic-mcp-sdk/src/validation/types.ts
  packages/aic-mcp-sdk/tsconfig.json
  packages/aic-mcp-sdk/tsconfig.lib.json
  packages/aic-mcp-sdk/vitest.config.ts
  pnpm-lock.yaml
Due: lint, format

fix(aic-mcp-sdk): address PR review feedback
  packages/aic-mcp-sdk/src/cache/memory-cache.ts
  packages/aic-mcp-sdk/src/validation/discovery.ts
  packages/aic-mcp-sdk/src/validation/token-validator.ts
Due: lint, format

feat(mcp-server-example): integrate aic-mcp-sdk authentication
  apps/mcp-server-example/package.json
  apps/mcp-server-example/src/index.ts
  pnpm-lock.yaml
Due: lint, format

feat(mcp-server-example): add dotenv for .env file support
  apps/mcp-server-example/.env.example
  apps/mcp-server-example/package.json
  apps/mcp-server-example/src/index.ts
  packages/aic-mcp-sdk/src/mcp/with-auth.ts
  packages/aic-mcp-sdk/src/validation/scopes.test.ts
  packages/aic-mcp-sdk/src/validation/scopes.ts
  packages/aic-mcp-sdk/src/validation/types.ts
  pnpm-lock.yaml
Due: lint, format

fix(ci): build before lint and typecheck
  .github/workflows/ci.yml
Due: format

feat(aic-mcp-sdk): add RFC 9728 MCP-compliant auth responses
  apps/mcp-server-example/src/index.ts
  packages/aic-mcp-sdk/src/index.ts
  packages/aic-mcp-sdk/src/mcp/index.ts
  packages/aic-mcp-sdk/src/mcp/resource-metadata.test.ts
  packages/aic-mcp-sdk/src/mcp/resource-metadata.ts
  packages/aic-mcp-sdk/src/mcp/types.test.ts
  packages/aic-mcp-sdk/src/mcp/types.ts
Due: lint, format

feat(aic-mcp-sdk): token introspection
  apps/mcp-server-example/.env.example
  apps/mcp-server-example/src/index.ts
  packages/aic-mcp-sdk/src/validation/index.ts
  packages/aic-mcp-sdk/src/validation/token-validator.ts
Due: lint, format

chore: fix-test
  packages/aic-mcp-sdk/src/validation/token-validator.test.ts
Due: lint, format

fix(aic-mcp-sdk): address correctness review findings
  packages/aic-mcp-sdk/src/mcp/with-auth.ts
  packages/aic-mcp-sdk/src/validation/jwt-validation.ts
  packages/aic-mcp-sdk/src/validation/token-validator.ts
  packages/aic-mcp-sdk/src/validation/types.ts
Due: lint, format

fix(aic-mcp-sdk): reduce clock tolerance default to 15s
  packages/aic-mcp-sdk/src/validation/jwt-validation.ts
  packages/aic-mcp-sdk/src/validation/types.ts
Due: lint, format

chore: add-readme
  packages/aic-mcp-sdk/README.md
Due: none

chore:final-push
  apps/mcp-agent-delegation/README.md
  apps/mcp-agent-delegation/src/config.ts
  apps/mcp-agent-delegation/src/index.ts
  apps/mcp-server-example/src/auth.ts
  apps/mcp-server-example/src/config.ts
  apps/mcp-server-example/src/index.ts
  localhost.har
  localhost2.har
  localhost3.har
  localhost4.har
  packages/aic-mcp-sdk/src/acquisition/token-exchange.ts
  packages/aic-mcp-sdk/src/http/fetch-client.ts
  packages/aic-mcp-sdk/src/index.ts
  packages/aic-mcp-sdk/src/mcp/with-auth.ts
  packages/aic-mcp-sdk/src/validation/token-validator.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx}
  format: any of: *.{ts,tsx,json,yml,yaml}
